.events-page {
  padding: 2rem;
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-details{
  display: flex;
  gap: 1rem;
}

.event-details img {
  width: 200px;
}

.event-item {
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
}

.event-item h2 {
  text-align: left;
  margin: 0 0 10px;
}

.event-item p {
  margin: 5px 0;
}

.cta-btn{
  background-color: #ff2e52;
  color: white;
}